a
  &:focus
    outline: none
    box-shadow: none

.button
  +regular
  font-size: 1.285rem
  text-decoration: none
  // line-height: 3.428rem
  padding: 0.94rem 2rem
  cursor: pointer
  &:focus
    outline: none
    box-shadow: none
  &__primary
    // margin-left: 0.2rem
    color: $light
    background-color: $black
    cursor: pointer
    transition: background 0.5s
    transition: color 1s
    border: 2px solid $black
    &:hover
      color: $black
      background-color: transparent
    &:after
      content: ''
      margin-left: 0.9rem
      margin-bottom: 0.2rem
      display: inline-block
      width: 7px
      height: 10px
      background: url(../img/right2.svg) no-repeat center / cover
    &:hover:after
      width: 7px
      height: 10px
      background: url(../img/right.svg) no-repeat center / cover
  &__secondary
    border: 2px solid $black
    color: $black
    background-color: transparent
    transition: background 0.5s
    transition: color 1s
    &:hover
      color: $light
      background-color: $black
    &:after
      content: ''
      margin-left: 0.928rem
      display: inline-block
      width: 7px
      height: 10px
      background: url(../img/right.svg) no-repeat center / cover
    &:hover:after
      width: 7px
      height: 10px
      background: url(../img/right2.svg) no-repeat center / cover